# Reference:
# =============================================================================
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore
#     https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Certificate files
# =============================================================================
certs/*.crt
certs/*.pem
.ruamel/

# tox
# =============================================================================
.tox/
tox_run*.md

# VSCode
# =============================================================================
# .vscode/          # keep this file for branch work but don't merge to master

# Misc project directories
# =============================================================================
# dev use of pyyaml package
download/
pyyaml/
libyaml/

# Packages
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
# =============================================================================
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip

# Python bytecode
# =============================================================================
*.py[cod]
__pycache__/
*$py.class

# Log files
# =============================================================================
logs/
*.log

# Compiled source
*.com
*.dll
*.exe
*.o
*.so

# Java extensions
# =============================================================================
*.class
*.jar

# Node artifact files
# =============================================================================
node_modules/
dist/

# Maven
# =============================================================================
target/
dist/

# Distribution / packaging
# =============================================================================
.Python
*.egg
*.egg-info
build/
dist/
downloads/
eggs/
.eggs/
parts/
bin
var
sdist/
wheelhouse
develop-eggs/
.installed.cfg
lib/
lib64/
venv*/
pyvenv*/
pip-wheel-metadata/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
# =============================================================================
*.manifest
*.spec

# Installer logs
# =============================================================================
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
# =============================================================================
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
htmlcov/
*.cover
.hypothesis/
.pytest_cache/

# Environments
# =============================================================================
.tox/
.nox/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# pyenv
# =============================================================================
.python-version

# Translations
# =============================================================================
*.mo
*.pot

# Buildout
# =============================================================================
.mr.developer.cfg

# JetBrains IDE
# =============================================================================
.idea/

# IDE project files
# =============================================================================
.project
.pydevproject
*.iml
*.komodoproject

# Complexity
# =============================================================================
output/*.html
output/*/index.html

# Sphinx
# =============================================================================
docs/_build
docs/_build/
doc/build/
doc/_build/

# mkdocs documentation
# =============================================================================
/site

# Unit test reports
# =============================================================================
TEST*.xml

# Generated by MacOS
.DS_Store

# Generated by Windows
# =============================================================================
Thumbs.db

# Misc artifacts
# =============================================================================
*~
.*.sw[po]
.build
.ve
.env
.cache
.pytest
.benchmarks
.bootstrap
.appveyor.token
*.bak

# Mypy Cache
# =============================================================================
.mypy_cache/
.dmypy.json
dmypy.json

# Generated by setuptools-scm
# =============================================================================
src/*/_version.py

# IPython
# =============================================================================
profile_default/
ipython_config.py

# Jupyter lab
# =============================================================================
.ipynb_checkpoints/

# Applications
# =============================================================================
*.app
*.exe
*.war

# Large media files
# =============================================================================
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# Logs and databases
# =============================================================================
# *.log  # allow doc/audit/ result files
*.sql
*.sqlite

# OS generated files
# =============================================================================
._*
.Spotlight-V100
.Trashes
ehthumbs.db

# Python Spyder
# =============================================================================
.spyderproject
.spyproject

# SageMath parsed files
# =============================================================================
*.sage.py

# Eclipse Workspace
# =============================================================================
RemoteSystemsTempFiles
.metadata/

# VSStudio
# =============================================================================
.vs/
*.suo

# Django stuff:
# =============================================================================
.static_storage/
.media/
local_settings.py

# Flask stuff:
# =============================================================================
instance/
.webassets-cache

# Scrapy stuff:
# =============================================================================
.scrapy

# celery beat schedule file
# =============================================================================
celerybeat-schedule

# Rope project settings
# =============================================================================
.ropeproject

# Misc
# =============================================================================
.sonarlint