# user devcontainer convenience
#`pip freeze` version when not locked
#-------------------------------------------------

# ~~~~~~~ vscode extensions support ~~~~~~~
rich~=12.2.0

# ~~~~~~~ project demo ~~~~~~~
yamale
#yamale==4.0.4
yamllint
#yamllint~=1.26.3
strictyaml
#strictyaml==1.6.1
pydantic
#pydantic~=1.8.2
pathspec~=0.9.0

# ~~~~~~~ awesome development ~~~~~~~
beautifulsoup4
#beautifulsoup4==4.11.1
Cython
#Cython==0.29.28
devtools
#devtools==0.8.0
openpyxl
#openpyxl==3.0.9
pandas
#pandas==1.4.2
python-dotenv
#python-dotenv==0.20.0
typing-extensions
#typing-extensions==4.2.0
xlrd
#xlrd~=2.0.1
XlsxWriter
#XlsxWriter==3.0.3


# ~~~~~~~ notebooks ~~~~~~~
ipykernel
#ipykernel~=6.13.0
jupyterlab
#jupyterlab~=3.3.4
ipywidgets
#ipywidgets==7.7.0
ipysheet
#ipysheet==0.5.0

# ~~~~~~~ visualization ~~~~~~~
matplotlib
#matplotlib~=3.5.1
seaborn
#seaborn~=0.11.2
#plotly==5.3.1  # freq download error on devcontainer creation

# ~~~~~~~ project docs/examples ~~~~~~~
# used in pydantic examples
SQLAlchemy
#SQLAlchemy~=1.4.35
orjson
#orjson~=3.6.8
ujson
#ujson~=5.2.0

#-------------------------------------------------
