# dev devcontainer convenience
# `pip freeze` version when not locked
#-------------------------------------------------

# ~~~~~~~ tox.ini ~~~~~~~
tox~=3.24.5

# ~~~~~~~ setup.py ~~~~~~~
#setuptools

# ~~~~~~~ setup.cfg ~~~~~~~
# pydantic-yaml setup.cfg
#install_requires =
pydantic~=1.8.2
semver>=2.13.0,<4  # Versions 2 or 3 should both work
deprecated~=1.2.5
types-Deprecated
#types-Deprecated~=1.2.6

#test_require =
pytest
#pytest~=7.1.1
mypy
mypy~=0.942

#pyyaml =
pyyaml
#PyYAML~=6.0
types-PyYAML
#types-PyYAML~=6.0.7

#ruamel =
#ruamel.yaml>=0.15,<0.18  # new API starting from 0.15, but old is still available
ruamel.yaml~=0.17.21
ruamel.yaml.clib>=0.2.6
ruamel.yaml.jinja2>=0.2
ryd

#dev =
black
flake8
bump2version
pytest
mypy

#docs =
mkdocs
mkdocs-material
mkdocstrings
pymdown-extensions
pygments

# ~~~~~~~ pyproject.toml ~~~~~~~
# none

# ~~~~~~~ mkdocs.yml ~~~~~~~
# none

# ~~~~~~~ pre-commit-config.yaml ~~~~~~~
# none

# ~~~~~~~ bitbucket-pipelines.yml ~~~~~~~
# none

# ~~~~~~~ future use ~~~~~~~
coverage
#coverage~=6.3.2
pytest-cov
#pytest-cov~=3.0.0

#-------------------------------------------------
